$data-primary: #309ee3;
$data-secondary: #676778;
$data-teal: #00ae8d;
$data-green: #56a857;
$data-yellow: #f2f255;
$data-red: #f15555; // #F16E55;
$data-pink: #e66da7;
$data-blue: lighten(#309ee3, 10%);
$data-orange: mix($data-yellow, $data-red, 75%);

$table-highlight: #bde2fb;
$table-highlight-background: rgba($data-blue, 13%);

$on-surface: #24282e;
$on-table: $on-surface;
$surface: #fff;

$table-preview: lighten($data-yellow, 25%);
$table-preview-text: $on-table;
$table-preview-background: rgba($data-yellow, 13%);

$table-join-left: $table-highlight;
$table-join-left-text: darken($data-blue, 15%);
$table-join-left-background: $table-highlight-background;

$table-join-right: lighten($data-orange, 30%);
$table-join-right-text: darken($data-orange, 15%);
$table-join-right-background: rgba($data-orange, 13%);

$table-join-center: mix($table-join-left, $table-join-right, 50%);
$table-join-center: $on-table;
$table-join-center-background: darken(
  saturate(
    mix($table-join-left-background, $table-join-right-background, 50%),
    20%
  ),
  15%
);
