html:root {
	overflow-y: auto;
}

* {
  overscroll-behavior-x: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  transition: all .2s;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 20px;
  transition: all ease-in-out .4s;
  background-color: #d0d0d0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}

.v-application, .v-data-table, .v-card > .v-card__text, .v-card, .v-sheet {
  color:black;
}

.bb-container {
  background-color: white;
  height: calc(100vh - 31px);
  display: flex;
  flex-direction: column;
  .bb-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    .controls-container {
      flex-shrink: 1;
    }
    .dashboard-container {
      flex: 1;
      .bb-toolbar {
        width: 100%;
      }
      .sidebar-container, .table-container {
        max-height: calc(100vh - 191px);
      }
    }
  }
}

.toolbar {
  .theme--light.v-btn {
    color: $icon-color !important;
    .v-icon {
      color: inherit !important;
    }
  }
  .theme--light.v-btn.v-btn--disabled,
  &.disabled .theme--light.v-btn{
    color: $icon-color !important;
    opacity: 0.5;
  }
}

h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

body{
	background-color: inherit;
}

.hoverable {
	cursor: pointer;
}

.drag {
  cursor: move !important;
}

.back-btn {
  cursor: pointer;
  width: auto;
  margin-right: auto;
  padding-left: 8px;
  height: 50px;
}

.text-mono {
  font-family: $font-mono;
}

.text-code {
  font-family: $font-mono;
  font-size: 14px;
  text-align: left;
  max-width: 600px;
  word-break: break-all;
  .comment {
    color: desaturate(#a50,10%);
  }
  .string {
    color: desaturate(#a11,10%);
  }
  .keyword {
    color: desaturate(#708,10%);
  }
}

tr {
	td:first-child{
		width: 40px;
	}
}

table.table {
  text-align: left;
  width: 100%;
}

table.details-table {
  $_padding: 6px;
  text-align: left;
  width: calc(100% + #{$_padding*2});
  margin-left: -$_padding;
  margin-right: -$_padding;
  border-spacing: 0;
  td, th {
    padding: 0 4px;
    &:first-child {
      padding-left: $_padding !important;
    }
    &:last-child {
      padding-right: $_padding !important;
      text-align: right;
    }
  }
  tr {
    &:not(.nohighlight):hover {
      background-color: $data-highlight-grey;
    }
  }
}

.content {
	background-color: #fff;
}

.component-container {
	margin: 0 0 20px;
	p {
		margin: 0;
	}
}

.bar-adjust{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.input-group label {
  font-size: 12px;
  line-height: 30px;
  height: 20px;

}

.foreach-label.row {
  align-items: center;
  margin-top: -8px;
  margin-bottom: 8px;
  overflow: hidden;
  .oci-input-container {
    margin-top: 8px;
    margin-bottom: 8px;
    .v-text-field__details {
      display: none;
    }
  }
}

.input-group--text-field input,
.input-group--text-field textarea {
  font-size: 14px;
}

.v-tooltip__content {
  z-index: 103 !important;
  &.menuable__content__active{
    opacity: 1 !important;
    transition: all ease-in-out .3s
  }
  background-color: rgba(97,97,97) !important;
}

.tooltip-above-dialog {
  z-index: 204 !important;
}

table.table thead td:not(:nth-child(1)), table.table tbody td:not(:nth-child(1)), table.table thead th:not(:nth-child(1)), table.table tbody th:not(:nth-child(1)), table.table thead td:first-child, table.table tbody td:first-child, table.table thead th:first-child, table.table tbody th:first-child{
	padding: 0;
}

.center-screen-inside {
  min-height: calc(100vh - 48px);
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  pointer-events: none;
  &>* {
    pointer-events: auto;
  }
}

.hideable {
  &.tr-o {
    transition: opacity .21s ease-in-out;
  }
  &:not(.active) {
    opacity: 0;
    pointer-events: none !important;
  }
}

.layout-container {
  min-height: calc(100vh - 48px);
  &>.layout {
    min-height: calc(100vh - 96px);
  }
}

/* data bar */

%bar {
  height: 1em;
  width: 100%;
  overflow: overlay;
  display: flex;
  position: relative;
  cursor: crosshair;
  &.rounded {
    border-radius: 0.5em;
  }
  .bar {
    height: 100%;
    width: 0;
    &.teal-bar {
      background-color: $data-primary;
    }
    &.red-bar {
      background-color: $data-red;
    }
    &.valid-bar {
      background-color: rgba($data-primary,0.91)
    }
    &.invalid-bar {
      background-color: rgba($data-red,0.91)
    }
    &.grey-bar {
      background-color: $data-grey;
    }
    &.default-bar {
      flex: 1;
    }
    &.empty-bar {
      cursor: initial;
    }
    &.min-bar {
      min-width: 1em;
    }
    &.rounded {
      border-radius: 0.5em;
    }
  }
}

.data-bar {
  @extend %bar;
  font-size: 8px;
	background-color: lighten($data-grey,40%);
  height: 1em;
  min-height: 1em;
}

table {
  border-color: $line-color-1;
}

/* columns list */

.columns-table {

  table {
    padding-bottom: $table-cell-height;
  }

  th, td {
    font-size: 14px !important;
    padding-right: 0 !important;
    &:not(:first-child) {
      padding-left: 0 !important;
    }
  }

  .v-data-table__wrapper {
    min-height: 300px;
    max-height: calc(100vh - 240px);
    height: 100% !important;
  }

  thead tr th {
    white-space: nowrap;
    border: none !important;
  }

  tr {
    td {
      border-color: $line-color-1 !important;
    }
    i.control-hide {
      transform: rotate(-0.03deg);
      font-size: 18px !important;
    }
    &:hover {
      .cell-controls {
        .control-hide{
          opacity: 1 !important;
        }
      }
    }


    .cell-controls {
      padding-left: 8px;
      display: flex;
      min-width: 65px;
      transform: rotate(0deg);

      .control-check{
        padding-right: 4px;
      }
      .control-hide{
        opacity: 0;
        &.control-hide-hidden {
          opacity: 0.5;
        }
      }
    }
  }

  tbody tr{
    cursor: pointer;
    border: none !important;
    white-space: nowrap;
    &:hover {
      background: $data-highlight !important;
    }
  }
}

.v-icon.control-button {
  user-select: none;
}


.dashboard-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  &>.toolbar {
    padding: 0 18px;
    order: 1;
    width: 100%;
  }
  &>.table-container {
    order: 1;
    flex: 1;
    min-width: 1px;
    width: 100%;
    border-top: solid 1px $line-color-1;
  }
  &>.table-view-empty {
    width: 100%;
    height: calc(100vh - 191px);
    max-height: calc(100vh - 191px);
  }
  &>.sidebar-container {
    border-left: solid 1px $line-color-1;
    border-top: solid 1px $line-color-1;
    order: 9;
    display: flex;
    flex-direction: column;
    padding: 4px;
    position: relative;
    .sidebar-content {
      margin-left: -4px;
      margin-right: -4px;
      padding-left: 4px;
      padding-right: 4px;
      flex: 1;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    .sidebar-section, .sidebar-header, .sidebar-subheader{
      position: relative;
      .right-button {
        position: absolute;
        right: 8px;
        top: 6px;
      }
      .right-button-2 {
        position: absolute;
        right: 36px;
        top: 6px;
      }
      .right-button-center {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
      }
      .left-hint {
        position: absolute;
        left: 8px;
        top: 6px;
      }
    }
    .sidebar-header, .sidebar-subheader {
      margin-left: -4px;
      margin-right: -4px;
      padding: 4px 12px;
      height: 34px;
      display: block;
    }
    .sidebar-header {
      text-align: center;
      margin-top: -4px;
      line-height: 28px;
      background-color: $data-highlight-background;
    }
    .sidebar-subheader {
      font-family: $font-mono;
      line-height: 26px;
      border-bottom: $line-color-1 1px solid;
    }
    .column-title {
      font-family: $font-mono;
    }
    .sidebar-section {
      border-bottom: $line-color-1 1px solid;
      margin-left: -4px;
      margin-right: -4px;
      padding: 3px 12px 4px 12px;
      line-height: 26px;
    }
    .data-column-data {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(100% - 48px)
    }
    .columns-selected {
      display: flex;
      flex-wrap: wrap;
      color: #444;
      font-family: $font-mono;
      .column-selected {
        &:not(:last-child)::after {
          content: ', ';
          margin-right: 1em;
        }
      }
    }
    .plot {
      border-bottom: #f5f5f5 1px solid;
      padding: 8px 0;
      .plot-title {
        padding-left: 8px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
      }
    }
  }

  $sidebar-width: 420px;
  $sidebar-width-bigger: 780px;
  $sidebar-max-width: 65vw;

  .sidebar-container {
    width: $sidebar-width;
  }

  .sidebar-container.bigger {
    width: $sidebar-width-bigger;
    min-width: $sidebar-width;
    max-width: $sidebar-max-width;
  }
}

.vega-component {
  summary {
    display: none;
  }
}

.heat-map-grid {
  margin-left: -11px;
}

/* plots */

.table-container {
  height: 100%;
  max-width: 100vw;
  z-index: 101;

  position: relative;

  .filter-container {
    width: 100%;
    border-bottom: solid 1px $line-color-1;
  }
  .table-view-container {

    z-index: 102;

    .table-controls {
      border-bottom: solid 1px $line-color-1;
      pointer-events: none;
      &>* {
        pointer-events: auto;
      }
      display: flex;
      align-items: center;
      padding-left: 22px;
      width: 100%;

      z-index: 3;
      height: 49px;
      padding-bottom: 1px;

      .visibility-btn {
        i {
          font-size: 18px;
          transform: rotate(-0.03deg);
        }
      }
    }

  }
}

.text-ellipsis {
  @include ellipsis;
}

/* top values */

.top-bar {
  position: relative;
  .bar {
    background-color: $data-primary;
    position: relative;
    height: calc(100% - 1px);
  }
  &:hover .bar {
    background-color: $data-primary-darken-bar;
  }
  .value {
    color: $text-color-darken;
    @include ellipsis;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.pseudo-disabled {
  opacity: 0.26;
}

/* icon buttons toolbar */

.toolbar {
  $toolbar-height: 48px - 1px;
  &.vertical {
    flex-direction: column;
    &>*:not(:first-child) {
      margin-top: 2px;
    }
  }
  &:not(.vertical) {
    height: $toolbar-height;
  }
  &.disabled {
    // opacity: 0.5;
    &>* {
      pointer-events: none;
    }
  }
  display: flex;
  align-items: center;
  .divider {
    width: 1px;
    height: calc(100% - 16px);
    background-color: $line-color-2;
    margin: 0 4px;
  }
  .v-btn i {
    max-width: 24px;
    overflow: hidden;
  }
}

.icon-btn {
  min-width: 32px !important;
  padding: 0 4px !important;
  height: 32px !important;
}

/* sort hints */

.sort-hint {
  font-family: $font-mono;
  font-size: 0.75rem;
  font-weight: 700;
  opacity: $black-opacity;
  min-width: 3em;
  display: inline-block;
}

/* chips */

.filter-chip-group {
  user-select: none;
  &.with--padding {
    padding-left: 100px;
  }
  .v-chip {
    background-color: #fff !important;
    color: rgba(0, 0, 0, 0.87) !important;
    &.v-chip--active {
      background-color: #eee !important;
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }
}

/* text */

.caption-2 {
  font-size: 0.8125rem;
}

/* buttons */
.v-btn-icon-text {
  min-width: 36px !important;
  padding: 0 6px;
}

/* layouts */

.placeholder-chip:not(.v-input--is-disabled) label{
  cursor: pointer;
}

.placeholder-chip {
  &::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 14px;
    background: white;
  }
  .v-input__slot {
    cursor: text;
  }
  label {
    border-style: dashed;
    border-width: 1px;
    border-color: lightgrey;
    background-color: #fdfdfd;
    border-radius: 16px;
    padding: 0 30px 0 14px;
    font-size: 14px;
    height: 32px !important;
    line-height: 30px !important;
    position: relative;
    top: 4px !important;
    left: 4px !important;
    pointer-events: all !important;
    &::after {
      position: absolute;
      height: 16px;
      width: 16px;
      content: '+';
      font-weight: bold;
      border-radius: 9px;
      background-color: lightgrey;
      padding: 0 1px 0 0;
      color: white;
      top: 6px;
      right: 7px;
      font-size: 16px;
      line-height: 1;
      text-align: center;
    }
  }
  input {
    max-width: 155px;
    z-index: -1;
  }
}

.progress-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute !important;
  left: 50%;
  transform: translate(-50%);
  .v-progress-circular {
    margin-bottom: 8px;
  }
  &.has-text .v-progress-circular {
    margin-top: -72px;
  }
  .command-card-text &{
    height: 85%;
  }
}
.progress-top {
  position: absolute !important;
  top: -1px;
  height: 0;
}

.mx-a {
  margin-left: auto;
  margin-right: auto;
}

.select-none {
  user-select: none;
}

.primary--chips {
  .v-chip {
    background-color: $primary-color !important;
    &, .v-chip__close {
      color: white !important;
    }
  }
}
.capitalized--chips {
  .v-chip__content {
    text-transform: capitalize;
  }
}

.chips-no-items .v-input__append-inner:last-of-type {
  display: none !important;
}


.bb-tabs {
  position: relative;
  .bb-tab {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    .close-icon {
      position: absolute;
      right: 0;
      padding-right: 12px;
    }
    .tab-title {
      width: 100%;
			text-transform: initial;
    }
    .tab-subtitle {
      width: 100%;
      text-transform: none;
      color: #555;
      font-size: 0.75em;
    }
  }
  .new-tab {
    padding: 0;
    min-width: 48px;
  }
	.v-tabs-bar {
		background: none !important;
	}
	.v-tabs-slider-wrapper {
		padding: 0 4px;
		.v-tabs-slider {
			overflow: hidden;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}
	}
  &:before {
		content: '';
    position: absolute;
    bottom: 0;
		height: 0;
		width: 100%;
		left: 0;

    border-bottom: 1px solid $line-color-2;
	}
}

.controls-container {
  padding: 0 12px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  min-height: 64px;
  position: relative;
  border-bottom: 1px solid $line-color-1;

  .search-filter {
    position: relative;
    bottom: 2px;
    width: 33%;
    min-width: 208px;
    max-width: 300px;
    max-height: 45px;
    margin-right: 0 !important;
    .v-input__prepend-inner {
      margin-right: auto;
      padding-right: 14px;
    }
  }


  .absolute-centered {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(10vw + 100px);
    @media (min-width: 620px) {
      width: calc(30vw + 100px);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.search-filter .v-input__slot {
  box-shadow: none !important;
}

.full-wh {
  width: 100%;
  height: 100%;
}

.hidden-menu {
  opacity: 0 !important;
  pointer-events: none !important;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-data {
  width: 100%;
  height: calc(100% - 50px);
  @extend .vertical-center;
}

/* vuetify fixes */

.v-menu__content {
	background: white;
}

.v-input.v-text-field--outlined .v-label::after {
  content: '';
  background: white;
  position: absolute;
  left: 0;
  top: 33%;
  width: 100%;
  height: 66%;
  z-index: -1;
}

.v-text-field--full-width {
  overflow: hidden;
}

.v-menu__content {
	z-index: 500 !important;
}

.v-alert__icon.v-icon {
  align-self: center;
}

.v-alert.error {
  color: white !important;
  .v-alert__content {
    overflow-y: scroll;
    max-height: 180px;
    font-size: 12px;
    scrollbar-color: rgba(255,255,255,0.5) transparent;

  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.5) !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255,255,255,0.75) !important;
  }

  ::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }
}

/* component vuetify table */

.component-container {
  .v-data-table {
    margin-left: -12px;
    margin-right: -12px;
  }
  .v-data-table td, .v-data-table th {
    &:first-child {
      padding-left: 12px;
    }
  }
}

.flippable {
  transform: rotate(0deg);
  transition: all ease-in-out 0.1s
}

.flipped {
  transform: rotate(-180deg);
}

/* graphics */

.bb-graphic {

  padding: 0 4px;

  .scroll-container::-webkit-scrollbar {
    width: 2px;
    height: 4px;
  }

  .scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background: #888;
  }

  .scroll-container {
    overflow-x: hidden;

    .freq-container {
      cursor: crosshair;
      height: 90px;
      display: flex;

      &.selectable .freq-value {
        cursor: pointer !important;
      }

      .freq-bar {
        height: 100%;
        width: 100%;
        min-width: 2px;

        &:not(:first-child) {
          margin-left: 2px;
        }

        position: relative;
        float: left;

        &:not(.selected) {
          color: black !important;
        }
        &.selected {
          .freq-value {
            opacity: 0.67;
          }
          &::after {
            opacity: 0.21;
          }
          &:hover::after {
            opacity: 0.27;
          }
        }

        &::after {
          content: '';
          background-color: currentColor;
          opacity: 0;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          pointer-events: none;
        }

        &:hover::after {
          opacity: 0.07;
        }

        max-width: 20px;
        .freq-value {
          overflow: hidden;
          min-height: 2px;
          width: 100%;
          color: $data-primary;
          background-color: currentColor;
          height: 50%;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  .current-value {
    font-size: 13px;
    line-height: 1.5;
    font-family: $font-mono;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .table-font {
    font-family: $font-mono-table;
  }
}

/* data types */

.data-type {
  font-family: $font-mono;
  transform-origin: 8px center;
  font-weight: 700 !important;
  opacity: $black-opacity;
  display: inline;
  &.in-autocomplete {
    width: 3em;
  }
}
.data-type-name {
  text-transform: uppercase;
}
.data-name {
  font-weight: 700;
}

.capitalize {
  text-transform: capitalize;
}

.column-type {
  .subtype {
    opacity: 0.71;
    font-size: 0.9em;
  }
}

.slow-fade-enter-active{
  transition: opacity .04s ease-in-out;
}
.slow-fade-leave-active {
  transition: opacity .04s ease-in-out;
}
.slow-fade-enter, .slow-fade-leave-to {
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .21s ease-in-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* pseudo notebooks */

.options-fields:not(.dragging) {
  .cell-container:hover {
    .left-handle {
      background-color: darken($line-color-2,5%);
    }
  }
}

$side-controls-width: 54px;

.options-fields-container {
  padding-left: 12px !important;
  padding-right: $side-controls-width + 4px !important;
  padding-bottom: 75px;
  position: relative;
  min-height: 300px;
  max-height: calc(100vh - 270px);
  &.empty .cells-controls{
    top: 12px !important;
    right: 50%;
    margin-left: initial;
    transform: translateX(75%);
    border: 1px solid lighten($primary-color,35%);
    border-radius: 64px;
    overflow: hidden;
    transition: top ease-in 0.21s, right ease-out 0.21s, transform linear 0.21s ;
  }

  &:not(.empty) .cells-controls {
    border-radius: 4px;
    transition: top ease-in-out 0.39s;
    z-index: 99;
  }

  .cells-controls {
    box-shadow: rgba(0,0,0,0.33) 0 0 8px -2px;
    position: absolute;
    right: 4px;
    top: 13px;
    opacity: 1;
    pointer-events: auto;
    margin-left: auto;
    background: white;
    margin-left: 6px;
    &.disabled{
      opacity: 0.71;
      pointer-events: none;
    }
  }

}

.options-fields {
  height: auto !important;
  flex: none !important;
  overflow-x: visible;
  position: relative;
  transition: all ease 0.6s 0.305s;


  &, &>span{
    display: block;
    width: 100%;
  }

  & {
    overflow: hidden;
    border-radius: 4px;
  }
  :not(.empty)>&>span {
    border: solid $line-color-1 1px;
  }

  &.disabled {
    opacity: 0.71;
  }


  .cell-container {
    overflow: hidden;
    display: flex;
    position: relative;
    width: 100%;

    &:hover {
      .editor-holder {
        border-bottom-color: rgba(0,0,0,0.19);
      }
    }

    &.active, &.ghost {
      .cell {
        z-index: 10;
      }
      .editor-holder {
        border-bottom-color: rgba(0,0,0,0.33);
      }
      .left-handle {
        background-color: darken($line-color-2,10%) !important;
      }
      .cell-type {
        color: $primary-color;
      }
      .cell-type-label {
        opacity: 0.71;
      }
    }
    .cell {
      width: 100%;
      overflow: hidden;
      display: flex;
      position: relative;
      padding: 0 0 0 12px;
    }
    &:not(.fixed-cell) .left-handle {
      cursor: grab;
    }
    .left-handle {
      width: 12px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $line-color-2;
      position: absolute;
      border-bottom-style: dashed;
      border-bottom-width: 1px;
      border-bottom-color: transparent;
    }
    .cell-type {
      color: lighten($text-color, 18%);
      font-family: $font-mono;
      font-weight: 700;
      opacity: $black-opacity;
      text-transform: uppercase;
    }
    .cell-title {
      text-transform: capitalize;
      position: absolute;
      top: 0;
      left: 24px;
      font-size: 14px;
    }
    .cell-type-label {
      position: absolute;
      bottom: -2px;
      right: 5px;
      font-size: 10px;
      opacity: 0.5;
      pointer-events: none;
    }
  }

}

// editor

$editor-top-padding: 6px;

.editor-holder{
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: transparent;
  position: relative;
  top: 0;
  overflow: auto;
  padding: $editor-top-padding 12px;
  overflow-y: hidden;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  background-color: #fbfbfb;

  width: 100%;
  max-width: 100%;
  min-height: calc(23px + #{$editor-top-padding*2});

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    padding: 4px;
    transition: all .2s;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }

  * {
    padding: 0 !important;
    margin: 0 !important;
    transition: none !important;
  }

  textarea, .code {
    font-size: 14px !important;
    font-family: $font-mono;
    overflow: visible;
    letter-spacing: initial !important;

    transition: all 0.5s ease-in-out;
  }

  .code-container {
    white-space: normal;
  }

  textarea {
    position: absolute;
    top: $editor-top-padding;
    left: 12px;
    width: calc(100% - 23px);
    height: calc(100% - #{$editor-top-padding}) !important;
    resize: none;
    overflow: hidden;
    border: none;
    outline: none;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    line-height: 24px !important;
  }

  .code{
    line-height: 24px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-line;
    z-index: 1;
    pointer-events: none;
    display: inline;
  }

  .syntax-highlight {
    background-color: transparent;
  }
}

.command-card-text {
  padding-top: 10px !important;
  margin-top: -10px !important;
	max-height: calc(100vh - 350px);
	min-height: 54px;
  overflow: auto;
  .v-text-field {
    &:not(:last-child) {
      padding-bottom: 16px !important;
    }
  }
  .v-text-field__details {
    display: none !important;
  }
  &.command-big {
    min-height: 350px;
  }
  &.command-tall {
    min-height: calc(100vh - 350px);
  }
}

.text-with-icons {
  .v-icon {
    margin-top: -4px;
    color: inherit !important;
  }
}

.range-hover {
  font-family: $font-mono;
  font-size: 13px;
}

.no-pe {
  &, & *{
    pointer-events: none !important;
  }
}

.hist-grid {
  cursor: crosshair;
}

.vega-bindings {
  display: none;
}

/* BB-TABLE */

%bb-table-loading {
  animation: background-animation 2.1s ease-in-out infinite;
  background-image:
    repeating-linear-gradient(
      to right,
      white 0,
      white 4px,
      transparent 4px,
      transparent 68px,
      white 68px,
      white 170px
    ),
    repeating-linear-gradient(
      to bottom,
      white 0,
      white 6px,
      transparent 6px,
      transparent 15px,
      white 15px,
      white 23px
  );
}

.bbt-container {
  height: calc(100vh - 191px) !important;
  max-height: calc(100vh - 191px) !important;
  overflow: hidden;

  min-width: 100%;

  &, & *, &::after {
    border-color: $line-color-1;
  }

  border-width: 1px;
  border-style: solid;
  border-top-width: 0;
  border-width: 0;

  display: flex;
  flex-direction: column;

  align-items: stretch;
  justify-content: stretch;

  position: relative;

  &::after {
    position: absolute;
    content: ' ';
    pointer-events: none;
    // border-right-style: solid;
    // border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    top: 0;
    left: 0;
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 9px);
  }

  .bb-table-header, .bb-table-row, .bb-table-plots {

    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 100%;

    &>* {
      flex-shrink: 0;
    }
  }

  .bb-table-row.bb-highlight--green {
    background: rgba($highlight-green,0.88) !important;
  }

  .bb-table-row.bb-highlight--red {
    background: rgba($highlight-red,0.88) !important;
  }

  .bb-table-row.bb-highlight--blue {
    background: rgba($highlight-blue,0.88) !important;
  }


  .bb-table-top-container {
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    overflow-y: scroll;
    min-height: 1000px;
    flex-shrink: 0;
    flex-basis: auto;
    z-index: 1;
    pointer-events: none;

    &::-webkit-scrollbar {
      opacity: 0;
      pointer-events: none;
    }

    &::before {
      content: ' ';
      position: absolute;
      background-color: $line-color-1;
      right: 10px;
      width: 1px;
      height: 100%;
      top: 0;
      z-index: 1;
    }
    &::after {
      content: ' ';
      position: absolute;
      background-color: $line-color-1;
      right: 0;
      width: 10px;
      height: 1px;
      top: 119px;
    }

    display: flex;
    flex-direction: column;
    padding-bottom: 2px;
    margin-bottom: -2px;

    .bb-table-header {

      pointer-events: auto;

      font-size: 16px;
      font-family: $font-mono-table;

      font-weight: 400;
      line-height: 28px;

      height: 28px;

      .bb-table-h-cell {
        overflow: visible;
        user-select: none;
        border-top-style: none;
        border-top-color: white !important;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;


        .data-type {
          height: inherit;
          flex: 1;
          max-width: 32px;
        }
        .column-title {
          height: inherit;
          flex: 2;
          text-align: center;
          width: initial;
          min-width: initial;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

    }

    .bb-table-plots {

      pointer-events: auto;

			user-select: none;

      font-family: $font-mono;
      z-index: 0;

      .bb-table-plot {
        height: 92px;
        &>* {
          display: flex;
          flex-direction: column;
        }
        &, &>* {
          padding: 0 0 0 0;
        }

        position: relative;

        .table-data-bar {
          margin-bottom: 2px;
          font-size: 8px;
        }

        .histfreq {
          flex: 1;
          opacity: 1;
        }
      }

    }
  }

  .bb-table-container {
    overflow-y: scroll;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    position: relative;
    margin-top: calc(122px - 1000px);
    z-index: 0;

    .bb-table {
      width: 100%;
      position: relative;
      font-family: $font-mono-table;
      color: $text-color;
      margin-top: -1px;
      .bb-table-row {
        z-index: 0;
        position: absolute;
        background: white;
        height: 23px;
        line-height: 21px;
        &:last-child {
          .bb-table-cell {
            border-bottom-width: 1px;
            border-bottom-style: solid;
          }
        }
      }
    }

  }



  .bb-table-h-cell, .bb-table-plot {
    background-color: white;
    height: 100%;
  }

  &:not(.range--selected) {
    .bb-table-h-cell.bb-preview {
      position: relative;
      &::before {
        content: ' ';
        position: absolute;
        height: 1px;
        width: calc(100% + 1px);
        top: 0px;
        left: 0;
        background-color: darken($data-preview, 10%);
        z-index: 100;
      }
    }
    .bb-table-h-cell.bb-selected {
      position: relative;
      &::before {
        content: ' ';
        position: absolute;
        height: 1px;
        width: calc(100% + 1px);
        top: 0px;
        left: 0;
        background-color: darken($data-highlight, 10%);
        z-index: 100;
      }
    }
    .bb-table-h-cell, .bb-table-cell, .bb-table-plot {
      &.bb-preview {
        background-color: $data-preview-background; // $data-preview;
        border-color: darken($data-preview, 10%) !important;
        & + * {
          border-left-color: darken($data-preview, 10%) !important;
        }
        &:last-child {
          border-right-color: darken($data-preview, 10%) !important;
          border-right-style: solid;
          border-right-width: 1px;
        }
      }
      &.bb-selected {
        background-color: $data-highlight-background; // $data-highlight;
        border-color: darken($data-highlight, 10%) !important;
        & + * {
          border-left-color: darken($data-highlight, 10%); // !important;
        }
        &:last-child {
          border-right-color: darken($data-highlight, 10%) !important;
          border-right-style: solid;
          border-right-width: 1px;
        }
      }
      &.bb-drag-over {
        &::after {
          content: '';
          background-color: $data-blue;
          position: absolute;
          width: 3px;
          height: 100%;
        }
        &.bb-drag-over-right::after {
          right: 0 !important;
        }
        &:not(.bb-drag-over-right)::after {
          left: 0;
        }
      }
    }
  }

  .bb-table-h-cell, .bb-table-cell, .bb-table-plot {
    z-index: 1;
    margin-left: 0px;

    border-right-width: 1px;
    border-right-style: solid;

    &:not(:first-child) {
      margin-left: -1px;
    }

    // &:last-child {
      // margin-right: -1px;
      // border-right-width: 0px;
      // border-right-style: solid;
    // }

    border-top-width: 1px;
    border-top-style: solid;

    border-left-width: 1px;
    border-left-style: solid;
  }

  .bb-table-plot {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .bb-table-h-cell, .bb-table-cell {
    white-space: nowrap;
    overflow: hidden;
    padding: 0 4px;
    @extend .text-ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit !important;
  }

  .bb-table-cell {
    &::selection {
      background: lighten($data-primary,33%);
		}
		&:not(.bb-preview) {
			cursor: text;
    }
    font-size: 13px;
    height: inherit;
    padding: 0;

    &.none, &.missing {
      &::after {
        margin-left: -0.5em;
        opacity: 0.667;
      }
    }

	  &.none:after {
      content: 'None';
    }
	  &.missing:after {
      content: 'Missing';
    }
    &.not-available {
      color: darken($data-red,15%) !important;
      font-family: $font-mono;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        animation: background-animation 2.1s ease-in-out infinite;
        left: 4px;
        width: 64px;
        top: 6px;
        height: 9px;
      }
    }
  }

  .bb-table-h-cell {
    &:not(.bb-preview) {
      cursor: pointer;
      padding-right: 16px;
    }
    position: relative;
    font-size: 16px;
    padding-right: 16px;

    border-right-width: 1px;
    border-right-style: solid;
  }
}

.bb-table-container {
  &::-webkit-scrollbar-track {
    background: white;
  }
}

.bb-table {
  @extend %bb-table-loading
}

@keyframes fadein-cell {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes background-animation {
  0% {
    background-color: rgba(0,0,0,0.11);
    // background-color: #e5e5e5;
  }

  50% {
    background-color: rgba(0,0,0,0.06);
    // background-color: #f1f1f1;
  }

  100% {
    background-color: rgba(0,0,0,0.11);
    // background-color: #e5e5e5;
  }
}

.the-table-container {
  padding-left: 9px;
  background-color: white;
}

.font-reset {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.bb-table-h-cell {
  &:last-child {
    .v-menu__content {
      transform: translateX(-85px); // TODO: 170px -> Ypx
    }
  }
  &:first-child {
    .v-menu__content {
      transform: translateX(11px);
    }
  }
}

.v-tab {
  letter-spacing: 0 !important;
}

.command-dialog {
  background-color: white;
  padding-top: 14px;
  padding-bottom: 22px;
  .v-form {
    margin: 0;
    left: 0;
  }
}

.smaller-fields {
  .v-label, .v-input {
    // background: cyan;
    font-size: 12px;
  }
  .v-input__slot {
    min-height: 34px !important;
  }
  .v-label {
    top: 7px !important;
  }
  .v-select__selections {
    max-height: 34px;
  }
  .v-select__selection--comma {
    margin-top: 2px;
    // margin-bottom: 5px;
  }
  .v-text-field__details {
    margin-bottom: 0 !important;
  }
  .v-input--switch {
    margin-top: -8px !important;
    .v-label {
      top: 0 !important;
    }
  }
  .v-input__append-inner {
    margin-top: 5px !important;
  }
  position: relative;
  left: 4px;

}


.hlt {
  &--red {
    background-color: $highlight-red;
  }
  &--green {
    background-color: $highlight-green;
  }
  &--blue {
    background-color: $highlight-blue;
  }
}

.title-preview-highlight>span{
  background-color: $highlight-yellow;
  background-color: $highlight-yellow;
}

.vdf--hide-select {
  .v-data-footer__select {
    display: none;
  }
}

.hidden-error {
  font-size: 0 !important;
}

.v-data-table table td {
  border-color: $line-color-1 !important;
}

.v-data-table.columns-filter {
  margin-left: -25px;
  tr.v-data-table__selected {
    background: initial !important;
  }
  tbody>tr {
    cursor: pointer;
    &:hover {
      background: $data-highlight !important;
    }
  }
  tr>td, tr>th {
    &:nth-child(1) {
      padding-right: 0;
      padding-left: 23px;
    }
    &:nth-child(2) {
      padding-left: 7px;
      padding-right: 3px;
    }
  }
}


// FORMS

.clusters-table-container {
  margin-left: -24px;
  margin-right: -24px;
  .v-data-table, table, tr, td, th {
    border: none !important;
    background: transparent !important;
  }
  table tr:first-child td {
    padding-top: 12px;
  }
  table tr:last-child td {
    padding-bottom: 12px;
  }
  table td{
    font-family: $font-mono-table;
    font-size: 13px;
    &:nth-child(2) {
      font-family: $font-mono;
      opacity: $black-opacity;
      font-weight: 700;
      width: 8em;
      &::after {
        content: ' rows';
        vertical-align: initial;
      }
    }
  }
  th span {
    display: none;
  }
  .v-data-table-header {
    background: #f5f5f5 !important;
  }
  .cluster {
    position: relative;
    min-height: 110px;
  }
  .cluster-info {
    font-family: $font-mono;
    position: absolute;
    right: 24px;
    top: 4px;
    width: 50%;
    pointer-events: none;
    text-align: right;
    font-weight: 700;
    opacity: $black-opacity;
  }
  .cluster-replace-field {
    position: absolute;
    right: 24px;
    top: 43px;
    width: 40%;
    min-width: 210px;
  }
  .v-text-field .v-input__slot {
    background: white !important;
  }
}