/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}


/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

h3{
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 5px;
}

body{
	background-color: inherit;
}

.hoverable{
	cursor: pointer;
}

tr{
	td:first-child{
		width: 40px;
	}
}

table.table {
	text-align: left;
}

.content{
	background-color: #fff;
}

.component-container{
	padding: 0 15px 0 0;
	margin: 0 0 20px;
	p{
		margin: 0;
	}
}

.bar-adjust{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.input-group label {
  font-size: 12px;
  line-height: 30px;
  height: 20px;

}

.back-btn{
	height: 50px;
}

.input-group--text-field input,
.input-group--text-field textarea {
  font-size: 14px;
}

table.table thead td:not(:nth-child(1)), table.table tbody td:not(:nth-child(1)), table.table thead th:not(:nth-child(1)), table.table tbody th:not(:nth-child(1)), table.table thead td:first-child, table.table tbody td:first-child, table.table thead th:first-child, table.table tbody th:first-child{
	padding: 0;
}
