.v-application, .v-data-table, .v-card > .v-card__text, .v-card, .v-sheet {
  color: $text-color !important;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h3{
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 5px;
}

body{
	background-color: inherit;
}

.hoverable{
	cursor: pointer;
}

tr{
	td:first-child{
		width: 40px;
	}
}

table.table {
	text-align: left;
}

.content{
	background-color: #fff;
}

.component-container{
	padding: 0 15px 0 0;
	margin: 0 0 20px;
	p{
		margin: 0;
	}
}

.bar-adjust{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.input-group label {
  font-size: 12px;
  line-height: 30px;
  height: 20px;

}

.back-btn{
	height: 50px;
}

.input-group--text-field input,
.input-group--text-field textarea {
  font-size: 14px;
}

.v-tooltip__content {
  opacity: 1 !important;
  background-color: rgba(97,97,97) !important;
}

table.table thead td:not(:nth-child(1)), table.table tbody td:not(:nth-child(1)), table.table thead th:not(:nth-child(1)), table.table tbody th:not(:nth-child(1)), table.table thead td:first-child, table.table tbody td:first-child, table.table thead th:first-child, table.table tbody th:first-child{
	padding: 0;
}

.center-screen-inside {
  min-height: calc(100vh - 48px);
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.hideable {
  &.tr-o {
    transition: opacity .2s ease-in-out;
  }
  &:not(.active) {
    opacity: 0;
    pointer-events: none !important;
  }
}

.layout-container {
  // transition: all ease-in-out .1s;
  // padding-top: 24px !important;
  // padding-bottom: 24px !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  min-height: calc(100vh - 48px);
  &>.layout {
    min-height: calc(100vh - 96px);
  }
}

/* grid */

.header-title-cell {
	position: relative;
	padding-top: 2px;
	.header-title-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	& > span {
		display: flex;
		align-items: center;
		padding-left: 8px;
		padding-right: 8px;
		.data-type-in-table {
			position: relative;
			color: rgba(0, 0, 0, 0.6) !important;
			transform-origin: left center;
			width: 28px;
			text-align: left;
			margin-right: 2px;
			pointer-events: none;
		}
		.table-header-text {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
		}
		.sort-button-wrapper {
			position: relative;
			width: 16px;
			top: -2px;
			right: 2px;
			margin-left: auto;
			justify-self: flex-end;
		}
	}
	&:hover {
		background-color: $data-highlight;
	}
}

/* data bar */

.data-bar {
	background-color: lightgray;
	height: 8px;
	border-radius: 4px;
	width: 100%;
  overflow: overlay;
  display: flex;

  &:hover {
		cursor: crosshair;
  }

  .data-bar-green {
    background-color: $data-green;
    height: 100%;
    width: 0;
  }

  .data-bar-red {
    background-color: $data-red;
    height: 100%;
    width: 0;
  }

  .data-bar-grey {
    background-color: $data-grey;
    height: 100%;
    flex: 1;
  }

  .data-bar-min {
    min-width: 4px;
  }
}

/* columns list */

.columns-table {

  table {
    padding-bottom: $table-cell-height;
  }

  th, td {
    padding-right: 0 !important;
    &:not(:first-child) {
      padding-left: 0 !important;
    }
  }

  .v-data-table__wrapper {
    min-height: 600px;
    max-height: calc(100vh - 280px);
    height: 100% !important;
  }

  thead tr th {
    white-space: nowrap;
    background-color: $grey-background;
    border: none !important;
  }

  tr {
    td {
      height: $table-cell-height;
      max-height: $table-cell-height;
    }
    &:hover {
      .cell-controls {
        .control-hide{
          opacity: 1 !important;
        }
      }
    }


    .cell-controls {
      padding-left: 8px;
      display: flex;
      min-width: 65px;

      .control-check{
        // opacity: 0.75;
        padding-right: 4px;
      }
      .control-hide{
        opacity: 0;
        &.control-hide-hidden {
          opacity: 0.5;
        }
      }
    }
  }

  tbody tr{
    cursor: pointer;
    border: none !important;
    white-space: nowrap;
    &:hover {
      background: $data-highlight !important;
    }
  }
}

/* table container */

.table-container {
  height: 100%;
  .lc--narrow &{
    @include fluid-prop(width, (300px: 268px, 980px: 948px, 1920px: 1333px, 3840px: 2880px ));
    max-width: 100%;
    // @include fluid-prop(margin-right, (300px: 16px, 980px: 16px, 1920px: 293.5px, 3840px: 480px ));
    margin: 0 auto 0 auto;
  }

  .filter-container {
    /* quick fix width filter */
    .v-input {
      @include fluid-prop(width, (300px: 268px - 32px, 980px: 948px - 32px, 1920px: 1333px - 32px, 3840px: 2880px - 32px), true );
      margin: auto;
    }
    border-bottom: solid 1px rgba(0,0,0,.1);
  }
  .controls-in-container {

    // border-left: solid 1px rgba(0,0,0,.1);
    // border-right: solid 1px rgba(0,0,0,.1);

    .table-controls {
      border-bottom: solid 1px rgba(0,0,0,.1);
      pointer-events: none;
      &>* {
        pointer-events: auto;
      }
      height: $table-cell-height;
      display: flex;
      align-items: center;
      padding-left: 22px;
      width: 100%;

      margin-bottom: 0px !important;
      z-index: 3;
      padding-bottom: 1px;
      // &>* {
      //   position: relative;
      //   top: -1px;
      // }
    }

  }
}

/* top values */

.top-bar {
	background-color: $data-green;
	position: relative;
	height: 100%;
	&>div {
    padding-left: 4px;
    line-height: 18px;
		position: absolute;
		top: 0;
		left: 0;
		width: max-content;
	}
}

/* chips */

.filter-chip-group {
  user-select: none;
  &.with--padding {
    padding-left: 100px;
  }
  .v-chip {
    background-color: #fff !important;
    color: rgba(0, 0, 0, 0.87) !important;
    &.v-chip--active {
      background-color: #eee !important;
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }
}

/* layouts */

.placeholder-chip {
  label {
    // border-style: dashed;
    // border-width: 1px;
    border-style: dashed;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 16px;
    padding: 0 30px 0 12px;
    font-size: 14px;
    height: 32px !important;
    line-height: 30px !important;
    position: relative;
    top: 12px !important;
    &::after {
      position: absolute;
      height: 16px;
      width: 16px;
      content: '+';
      font-weight: bold;
      border-radius: 9px;
      background-color: lightgrey;
      padding: 0 1px 0 0;
      color: white;
      top: 6px;
      right: 7px;
      font-size: 16px;
      line-height: 1;
      text-align: center;
    }
  }
  input {
    cursor: pointer;
  }
}

.grey-bg {
  background-color: $grey-background;
}

.controls-container {
	@include fluid-prop(
		max-width,
		(
      300px: 300px,
			900px: 900px,
			1920px: 1300px
		)
	);
	margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  min-height: 64px;
  position: relative;

  .search-filter {
    max-height: 56px;
    margin-right: 0 !important;
  }

  .absolute-centered {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(10vw + 100px);
    @media (min-width: 620px) {
      width: calc(30vw + 100px);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.search-filter .v-input__slot {
  box-shadow: none !important;
}

/* buttons layouts */

.narrow-buttons {
  .v-btn:not(.first-button) {
    margin-left: -8px;
  }
}

.pseudo-select {
  overflow: hidden;
  border-radius: 28px;
  background: #eee;
  max-width: 76px;
  max-height: 40px;
  .v-btn {
    margin-left: -8px;
    &:first-child {
      margin-left: 0;
    }
    &:focus::before {
      opacity: 0 !important;
    }
  }
}



/* vuetify fixes */

.v-menu__content {
	z-index: 102 !important;
}

.v-alert__icon.v-icon {
  align-self: center;
}

/* vue-bigdata-table fixes */

.vue-bigdata-table {
  width: 100% !important;
  .vue-bigdata-table-content {
    &>div:nth-child(2) {
      width: 100% !important;
    }
  }
  .sort-button-wrapper {
    transform: translate(3px,1.25px) scale(1.25) !important;
  }
  * {
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .vue-bigdata-table-header-wrapper * {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  .vue-bigdata-table-content * {
    font-family: "Roboto Mono", monospace !important;
  }
  .vue-bigdata-table-wrapper .vue-bigdata-table-data-table tr td .vue-bigdata-table-cell {
    padding: 0 4px !important;
    line-height: 1;
  }
}

.vue-bigdata-table-outer {
  border-radius: 2px;
}

.handsontable{
  font-family: "Roboto Mono", monospace !important;
  color: $text-color;

  .wtBorder.current {
    z-index: 102;
  }

  * {
    border-color: #f5f5f5 !important;
  }

  th {
    background-color: #fefefe !important;
    .changeType {
      opacity: 0.71;
      color: $text-color !important;
    }
  }

  tr:first-child td {
    height: 100px;
    overflow: initial;
  }

  tr td{
    height: $table-cell-height - 1px;
    line-height: $table-cell-height - 1px;
		white-space: nowrap;
		overflow: hidden;
    text-overflow: ellipsis;
    color: inherit !important;

	  &:empty:after{
      content: 'None';
      opacity: 0.5;
    }
	  &>span:empty:after{
      content: 'None';
      opacity: 0.5;
    }
	}
}

/* component vuetify table */

.component-container {
  .v-data-table td, .v-data-table th {
    &:first-child {
      padding-left: 0;
    }
  }
}

/* graphics */

.bb-graphic {
  .scroll-container::-webkit-scrollbar {
    width: 2px;
    height: 4px;
  }

  .scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background: #888;
  }

  .scroll-container {
    overflow-x: scroll;

    .freq-container {
      cursor: crosshair;
      height: 90px;
      display: flex;

      justify-content: center;

      .freq-bar {
        height: 100%;
        width: 100%;
        min-width: 12px;
        &:not(:first-child) {
          margin-left: 2px;
        }
        position: relative;
        float: left;
        &:hover {
          background-color: rgba(235, 235, 235, 0.527);
          .freq-value {
            background-color: #3c948b;
          }
        }

        max-width: 20px;
        .freq-value {
          width: 100%;
          background-color: $data-green;
          height: 50%;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  .sidechart {
    margin-bottom: 5px;
    position: relative;
    font-size: 10px;
    &:hover {
      background-color: rgba(235, 235, 235, 0.527);
    }
    .bartext {
      background-color: #aeccde;
      width: 50%;
    }
    .totaltext {
      position: absolute;
      top: 0;
      left: 50%;
    }
    .counttext {
      position: absolute;
      top: 0;
      left: 30%;
    }
  }
}

/* table graphics */

.table-graphic {
  height: 100%;
  padding-left: 4px;
  padding-right: 4px;
  .scroll-container {
    height: calc(100% - 18px);
  }
  .freq-container {
    height: 100% !important;
    .freq-bar {
      min-width: 4px !important;
      &:not(:first-child) {
        margin-left: 1px !important;
      }
    }
  }
  h3 {
    display: none;
  }
  .current-value {
    // font-size: 12px !important;
    // font-weight: 700 !important;
    // line-height: 1.25;
    height: 1.5em;
    font-family: "Roboto Mono", monospace !important;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

/* data types */

.data-type {
  font-family: "Roboto Mono", monospace !important;
  transform-origin: 8px center;
  font-weight: 700 !important;
  display: inline;
  &.in-autocomplete {
    // font-size: 0.75em;
    width: 3em;
    color: rgba(0, 0, 0, 0.71)
  }
}
.data-type-name {
  text-transform: uppercase;
}
.data-name {
  font-weight: 700;
}

.capitalize {
  text-transform: capitalize;
}
