html:root {
	overflow-y: auto;
}

.v-application, .v-data-table, .v-card > .v-card__text, .v-card, .v-sheet {
  color: $text-color !important;
}

.v-application {
  background: white !important;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h3{
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 5px;
}

body{
	background-color: inherit;
}

.hoverable{
	cursor: pointer;
}

.b-view-card {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

tr{
	td:first-child{
		width: 40px;
	}
}

table.table {
	text-align: left;
}

.content{
	background-color: #fff;
}

.component-container{
	padding: 0 15px 0 0;
	margin: 0 0 20px;
	p{
		margin: 0;
	}
}

.bar-adjust{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.input-group label {
  font-size: 12px;
  line-height: 30px;
  height: 20px;

}

.back-btn{
	height: 50px;
}

.input-group--text-field input,
.input-group--text-field textarea {
  font-size: 14px;
}

.v-tooltip__content {
  opacity: 1 !important;
  background-color: rgba(97,97,97) !important;
}

table.table thead td:not(:nth-child(1)), table.table tbody td:not(:nth-child(1)), table.table thead th:not(:nth-child(1)), table.table tbody th:not(:nth-child(1)), table.table thead td:first-child, table.table tbody td:first-child, table.table thead th:first-child, table.table tbody th:first-child{
	padding: 0;
}

.center-screen-inside {
  min-height: calc(100vh - 48px);
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.hideable {
  &.tr-o {
    transition: opacity .2s ease-in-out;
  }
  &:not(.active) {
    opacity: 0;
    pointer-events: none !important;
  }
}

.layout-container {
  min-height: calc(100vh - 48px);
  &>.layout {
    min-height: calc(100vh - 96px);
  }
}

/* data bar */

.data-bar {
	background-color: lightgray;
	height: 8px;
	border-radius: 4px;
	width: 100%;
  overflow: overlay;
  display: flex;

  &:hover {
		cursor: crosshair;
  }

  .data-bar-green {
    background-color: $data-green;
    height: 100%;
    width: 0;
  }

  .data-bar-red {
    background-color: $data-red;
    height: 100%;
    width: 0;
  }

  .data-bar-grey {
    background-color: $data-grey;
    height: 100%;
    flex: 1;
  }

  .data-bar-min {
    min-width: 4px;
  }
}

table {
  border-color: $line-color-1;
}

/* columns list */

.columns-table {

  table {
    padding-bottom: $table-cell-height;
  }

  th, td {
    font-size: 14px !important;
    padding-right: 0 !important;
    &:not(:first-child) {
      padding-left: 0 !important;
    }
  }

  .v-data-table__wrapper {
    min-height: 300px;
    max-height: calc(100vh - 237px);
    height: 100% !important;
  }

  thead tr th {
    white-space: nowrap;
    border: none !important;
  }

  tr {
    td {
      // height: $table-cell-height;
      // max-height: $table-cell-height;
      border-color: $line-color-1 !important;
    }
    i.control-hide {
      transform: rotate(-0.03deg);
      font-size: 18px !important;
    }
    &:hover {
      .cell-controls {
        .control-hide{
          opacity: 1 !important;
        }
      }
    }


    .cell-controls {
      padding-left: 8px;
      display: flex;
      min-width: 65px;

      .control-check{
        // opacity: 0.75;
        padding-right: 4px;
      }
      .control-hide{
        opacity: 0;
        &.control-hide-hidden {
          opacity: 0.5;
        }
      }
    }
  }

  tbody tr{
    cursor: pointer;
    border: none !important;
    white-space: nowrap;
    &:hover {
      background: $data-highlight !important;
    }
  }
}

/* table container */

.table-container {
  // padding-top: 9px;
  border-top: solid 1px $line-color-1;
  height: 100%;
  .lc--narrow &{
    max-width: 100%;
    margin: 0 !important;
    position: relative;
  }

  .filter-container {
    width: 100%;
    /* quick fix width filter */
    // .v-input {
    //   @include fluid-prop(width, (300px: 268px - 32px, 980px: 948px - 32px, 1920px: 1333px - 32px, 3840px: 2880px - 32px), true );
    //   margin: auto;
    // }
    border-bottom: solid 1px $line-color-1;
  }
  .controls-in-container {

    // border-left: solid 1px $line-color-1;
    // border-right: solid 1px $line-color-1;

    .table-controls {
      border-bottom: solid 1px $line-color-1;
      pointer-events: none;
      &>* {
        pointer-events: auto;
      }
      display: flex;
      align-items: center;
      padding-left: 22px;
      width: 100%;

      z-index: 3;
      min-height: 48px;
      padding-bottom: 1px;
      // &>* {
      //   position: relative;
      //   top: -1px;
      // }

      .visibility-btn {
        i {
          font-size: 18px;
          transform: rotate(-0.03deg);
        }
      }
    }

  }
  // .hot-table {
  //   flex: 1;
  //   min-width: 50%;
  // }
}

/* top values */

.top-bar {
	background-color: $data-green;
	position: relative;
	height: 100%;
	&>div {
    padding-left: 4px;
    line-height: 18px;
		position: absolute;
		top: 0;
		left: 0;
		width: max-content;
	}
}

/* icon buttons toolbar */

.toolbar {
  display: flex;
  align-items: center;
  padding: 0 18px;
  height: 48px;
  .divider {
    width: 1px;
    height: calc(100% - 16px);
    background-color: $line-color-2;
    margin: 0 4px;
  }
}

.icon-btn {
  min-width: 36px !important;
  padding: 0 6px !important;
  // border: 1px #e1e1e1 solid;
  // &:not(:last-child) {
  //   margin-right: -1px;
  //   border-top-right-radius: 0;
  //   border-bottom-right-radius: 0;
  // }
  // &:not(:first-child) {
  //   border-top-left-radius: 0;
  //   border-bottom-left-radius: 0;
  // }
}

/* sort hints */

.sort-hint {
  font-family: $font-mono;
  font-size: 0.75rem;
  font-weight: 700;
  min-width: 3em;
  display: inline-block;
}

/* chips */

.filter-chip-group {
  user-select: none;
  &.with--padding {
    padding-left: 100px;
  }
  .v-chip {
    background-color: #fff !important;
    color: rgba(0, 0, 0, 0.87) !important;
    &.v-chip--active {
      background-color: #eee !important;
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }
}

/* text */

.caption-2 {
  font-size: 0.8125rem;
}

/* buttons */
.v-btn-icon-text {
  min-width: 36px !important;
  padding: 0 6px;
}

/* layouts */

.placeholder-chip {
  label {
    // border-style: dashed;
    // border-width: 1px;
    border-style: dashed;
    border-width: 1px;
    border-color: lightgrey;
    background-color: #fdfdfd;
    border-radius: 16px;
    padding: 0 30px 0 12px;
    font-size: 14px;
    height: 32px !important;
    line-height: 30px !important;
    position: relative;
    top: 12px !important;
    &::after {
      position: absolute;
      height: 16px;
      width: 16px;
      content: '+';
      font-weight: bold;
      border-radius: 9px;
      background-color: lightgrey;
      padding: 0 1px 0 0;
      color: white;
      top: 6px;
      right: 7px;
      font-size: 16px;
      line-height: 1;
      text-align: center;
    }
  }
  input {
    cursor: pointer;
  }
}

.bb-tabs {
  position: relative;
  .v-tab {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    .close-icon {
      position: absolute;
      right: 0;
      padding-right: 12px;
    }
    .tab-title {
      width: 100%;
    }
    .tab-subtitle {
      width: 100%;
      text-transform: none;
      color: #555;
      font-size: 0.75em;
    }
  }
	.v-tabs-bar {
		background: none !important;
	}
	.v-tabs-slider-wrapper {
		padding: 0 4px;
		.v-tabs-slider {
			overflow: hidden;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}
	}
  &:before {
		content: '';
    position: absolute;
    bottom: 0;
		height: 0;
		width: 100%;
		left: 0;

    border-bottom: 1px solid $line-color-2;
	}
}

.controls-container {
  padding: 0 12px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  min-height: 64px;
  position: relative;
  border-bottom: 1px solid $line-color-1;

  .search-filter {
    position: relative;
    bottom: 2px;
    width: 33%;
    max-width: 300px;
    max-height: 56px;
    margin-right: 0 !important;
    .v-input__prepend-inner {
      margin-right: auto;
      padding-right: 14px;
    }
  }


  .absolute-centered {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(10vw + 100px);
    @media (min-width: 620px) {
      width: calc(30vw + 100px);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.search-filter .v-input__slot {
  box-shadow: none !important;
}

/* vuetify fixes */

.v-text-field--full-width {
  overflow: hidden;
}

.v-menu__content {
	z-index: 102 !important;
}

.v-alert__icon.v-icon {
  align-self: center;
}


.handsontable{
  font-family: $font-mono;
  color: $text-color;

  .wtBorder {
    display: none !important;
  }
  .wtBorder.current {
    z-index: 102;
  }

  * {
    border-color: $line-color-1 !important;
  }

  th {
    &>span {
      width: 100%;
    }
    cursor: pointer;
    background-color: #fefefe !important;
    &:hover {
      background-color: $data-highlight !important;
    }
    .changeType {
      opacity: 0.71;
      color: $text-color !important;
    }
  }

  tr:first-child td {
    height: 100px;
    overflow: initial;
  }

  tr td {
    font-size: 13px;
    height: $table-cell-height - 1px;
    line-height: $table-cell-height - 1px;
		white-space: nowrap;
		overflow: hidden;
    text-overflow: ellipsis;
    color: inherit !important;

	  &>span:empty:after/*, &:empty:after */{
      content: 'None';
      opacity: 0.5;
    }
	}
}

/* component vuetify table */

.component-container {
  .v-data-table td, .v-data-table th {
    &:first-child {
      padding-left: 0;
    }
  }
}

/* graphics */

.bb-graphic {
  .scroll-container::-webkit-scrollbar {
    width: 2px;
    height: 4px;
  }

  .scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background: #888;
  }

  .scroll-container {
    overflow-x: scroll;

    .freq-container {
      cursor: crosshair;
      height: 90px;
      display: flex;

      justify-content: center;

      .freq-bar {
        height: 100%;
        width: 100%;
        min-width: 12px;
        &:not(:first-child) {
          margin-left: 2px;
        }
        position: relative;
        float: left;
        &:hover {
          background-color: rgba(235, 235, 235, 0.527);
          .freq-value {
            background-color: #3c948b;
          }
        }

        max-width: 20px;
        .freq-value {
          width: 100%;
          background-color: $data-green;
          height: 50%;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  .sidechart {
    margin-bottom: 5px;
    position: relative;
    font-size: 10px;
    &:hover {
      background-color: rgba(235, 235, 235, 0.527);
    }
    .bartext {
      background-color: #aeccde;
      width: 50%;
    }
    .totaltext {
      position: absolute;
      top: 0;
      left: 50%;
    }
    .counttext {
      position: absolute;
      top: 0;
      left: 30%;
    }
  }
}

/* table graphics */

.table-graphic {
  height: 100%;
  padding-left: 4px;
  padding-right: 4px;
  .scroll-container {
    max-height: calc(100% - 18px);
    height: calc(100% - 18px);
    overflow: hidden;
  }
  .freq-container {
    height: 100% !important;
    .freq-bar {
      min-width: 1px !important;
      &:not(:first-child) {
        margin-left: 1px !important;
      }
    }
  }
  h3 {
    display: none;
  }
  .current-value {
    // font-size: 12px !important;
    // font-weight: 700 !important;
    // line-height: 1.25;
    height: 1.5em;
    font-family: $font-mono;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

/* data types */

.data-type {
  font-family: $font-mono;
  transform-origin: 8px center;
  font-weight: 700 !important;
  display: inline;
  &.in-autocomplete {
    // font-size: 0.75em;
    width: 3em;
    color: rgba(0, 0, 0, 0.71)
  }
}
.data-type-name {
  text-transform: uppercase;
}
.data-name {
  font-weight: 700;
}

.capitalize {
  text-transform: capitalize;
}
