@mixin sibling-of($n) {
	$selectors: str-split(#{&}, " ");
	$child: nth($selectors,length($selectors));
	&:first-child:nth-last-child(#{$n}),
	&:first-child:nth-last-child(#{$n}) ~ #{$child} {
		@content;
	}
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin name-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  &::before {
    content: "";
    min-width: 40px;
    max-width: 52px;
    order: 2;
    flex-shrink: 1;
    width: 52px;
  }
  &::after {
    content: '';
    width: 52px;
    max-width: 52px;
    order: 4;
    flex-shrink: 1;
  }
}
