.-btn-size-base {
  @apply font-sans disabled:opacity-50 rounded-md flex items-center justify-center leading-tight transition-all duration-100 select-none;
}
.-btn-size-default {
  @apply -btn-size-base text-sm font-bold gap-2 py-2 px-3 min-h-[16px] min-w-[80px];
}
.-btn-size-narrow {
  @apply -btn-size-base text-sm p-2 font-bold gap-2 min-h-[16px];
}

.btn {
  &:not([class*='btn-color-']),
  &.btn-color-primary {
    --button-text-color: theme('colors.white');
    --button-color: theme('colors.primary.dark');
    --button-hover-color: theme('colors.primary.darker');
    --button-active-color: theme('colors.primary.darkest');
    --button-highlight-color: #99cae9;
  }

  &.btn-color-text {
    --button-text-color: theme('colors.white');
    --button-color: theme('colors.text.DEFAULT');
    --button-hover-color: theme('colors.text.light');
    --button-active-color: theme('colors.text.lighter');
    --button-highlight-color: theme('colors.text.lighter');
  }

  &.btn-color-text-light {
    --button-text-color: theme('colors.white');
    --button-color: theme('colors.text.lighter');
    --button-hover-color: theme('colors.text.lighter');
    --button-active-color: theme('colors.text.lightest');
    --button-highlight-color: theme('colors.text.lightest');
  }

  &.btn-color-error {
    --button-text-color: theme('colors.white');
    --button-color: theme('colors.error.dark');
    --button-hover-color: theme('colors.error.DEFAULT');
    --button-highlight-color: theme('colors.error.light');
    --button-active-color: theme('colors.error.light');
  }

  &:not([class*='btn-layout-']),
  &.btn-layout-default {
    @apply text-[color:var(--button-text-color)];
    @apply bg-[color:var(--button-color)];
    @apply hover:bg-[color:var(--button-hover-color)];
    @apply active:bg-[color:var(--button-active-color)];
    @apply outline-[var(--button-highlight-color)];
    &:not([class*='btn-icon']):not([class*='btn-size-']) {
      @apply -btn-size-default;
    }
  }

  &.btn-layout-text {
    @apply bg-transparent text-[color:var(--button-color)];
    @apply hover:text-[color:var(--button-hover-color)];
    @apply active:text-[color:var(--button-active-color)];
    @apply outline-[var(--button-highlight-color)];
    @apply text-base font-medium gap-2 py-1 px-2;
    &:not([class*='btn-icon']):not([class*='btn-size-']) {
      @apply -btn-size-base;
    }
  }

  &.btn-layout-outline {
    @apply text-[color:var(--button-color)];
    @apply border-2 border-[var(--button-color)];
    @apply bg-[color:var(--button-text-color)];
    @apply outline-[var(--button-highlight-color)];
    @apply hover:bg-[color:var(--button-hover-color)] hover:text-[color:var(--button-text-color)] hover:border-transparent;
    @apply active:bg-[color:var(--button-active-color)] active:text-[color:var(--button-text-color)] active:border-transparent;
    &:not([class*='btn-icon']):not([class*='btn-size-']) {
      @apply -btn-size-default;
    }
  }

  &.btn-layout-invisible {
    @apply bg-transparent text-[color:var(--button-color)] outline-[var(--button-highlight-color)];
    @apply hover:text-[color:var(--button-hover-color)];
    @apply active:text-[color:var(--button-active-color)];

    &:not([class*='btn-icon']):not([class*='btn-size-']) {
      @apply -btn-size-narrow;
    }
    &[class*='btn-icon'] {
      @apply rounded-full;
    }
  }
  &:not([class*='btn-icon']) {
    &.btn-size-medium {
      @apply -btn-size-base text-sm font-bold gap-2 py-2 px-4;
    }
    &.btn-size-small {
      @apply -btn-size-base text-xs font-medium gap-2 py-2 px-4;
    }
    &.btn-size-smallest {
      @apply -btn-size-base text-xs font-medium gap-1 py-1 px-2;
    }
    &.btn-size-narrow {
      @apply -btn-size-narrow;
    }
  }
  &.btn-icon {
    @apply -btn-size-base;

    &:not([class*='btn-size-']) {
      @apply h-8 w-8;
    }
    &.btn-size-small {
      @apply h-6 w-6;
    }
    &.btn-size-smallest {
      @apply h-4 w-4;
    }

    .mdi-icon {
      @apply w-3/4 h-3/4;
    }
  }
  &.btn-rounded {
    border-radius: 9999px !important;
  }
}
