.label {
  @apply text-sm font-normal text-neutral block;
}

.input-primary {
  @apply bg-white border border-neutral-lightest/50 font-normal text-neutral placeholder:text-neutral-lighter focus:outline-none rounded-lg;
}
.input-default {
  @apply font-normal text-neutral placeholder:text-neutral-light focus:outline-none;
}

.text-input {
  @apply sm:text-sm md:text-base relative;

  &.disabled-field {
    @apply opacity-50;
  }

  .text-input-field {
    @apply input-primary w-full;
  }
  .text-input-errorContainer {
    @apply text-error text-sm block px-1 mt-1;
  }
  .text-input-errorInput {
    @apply border border-error;
  }
  .text-input-label {
    @apply absolute bg-white top-[-0.5rem] pl-[0.35em] pr-[0.25em];
  }
  &:focus-within,
  &:focus {
    @apply z-[5];
    .text-input-field {
      @apply z-[5] ring-1 ring-primary/75 border-primary/75;
    }
    .text-input-label {
      @apply text-primary-dark;
    }
  }
}

.input {
  .input-label {
    @apply absolute bg-white top-[-0.5rem] pl-[0.35em] pr-[0.25em] leading-none z-[2];
  }
  &:focus-within,
  &:focus {
    @apply z-[5];
    .input-field,
    .selector-button {
      @apply ring-1 ring-primary/75 border-primary/75 z-[1];
    }
    .input-label {
      @apply text-primary-dark;
    }
  }
  .icons {
    @apply flex items-center absolute inset-y-0 right-0;
    & > *:last-child {
      @apply pr-2;
    }
  }
}

.input:not([class*='input-size-']) {
  .input-field,
  .selector-button {
    @apply sm:text-sm md:text-base min-h-[26px] py-2 px-5;
  }
  .input-label {
    @apply text-sm left-4;
  }
}

.input-size-condensed {
  .input-field,
  .selector-button {
    @apply sm:text-sm md:text-base min-h-[18px] py-2 px-3;
  }
  .input-label {
    @apply text-sm left-2;
  }
}

.input-size-small {
  .input-field,
  .selector-button {
    @apply sm:text-xs md:text-sm min-h-[18px] py-1 px-2;
  }
  .input-label {
    @apply text-xs left-1;
  }
}

.file-input {
  @apply sm:text-sm md:text-base relative cursor-pointer;

  .file-input-inputContainer {
    @apply relative flex items-center gap-2 input-primary w-full;
  }

  .file-input-fieldText {
    @apply select-none flex-1;
  }

  .file-input-fieldTextDefault {
    @apply text-neutral-lighter;
  }

  .file-input-fieldIcon {
    @apply text-primary-dark/80;
  }

  .file-input-hiddenField {
    @apply absolute left-0 top-0 w-full h-full input-default opacity-0;
  }

  .file-input-errorContainer {
    @apply text-error text-sm block px-1 mt-1;
  }

  .file-input-errorInput {
    @apply border border-error;
  }
}

.selector {
  @apply sm:text-sm md:text-base relative;

  &.disabled-field {
    @apply opacity-50;
  }

  .selector-button {
    @apply input-primary w-full text-left;
  }

  // .selector-buttonOpen {
  //   @apply ring-1 ring-primary/75 border-primary/75;
  // }
  // .selector-buttonClosed {
  // }
  .selector-buttonIcon {
    @apply text-primary-dark/80;
  }
  // .selector-buttonIconOpen {
  // }
  // .selector-buttonIconClosed {
  // }
  // .selector-buttonText {
  // }
  // .selector-buttonTextSelected {
  // }
  .selector-buttonTextDefault {
    @apply text-neutral-lighter;
  }
  // .selector-option {
  // }
  .selector-optionActive {
    @apply bg-primary-lightest text-neutral;
  }
  .selector-optionDefault {
    @apply text-neutral;
  }
  .selector-optionIcon {
    @apply text-primary;
  }
  // .selector-optionIconActive {
  // }
  // .selector-optionIconDefault {
  // }
  .selector-errorContainer {
    @apply text-error text-sm block px-1 mt-1;
  }
  .selector-errorInput {
    @apply border border-error;
  }
  .divider {
    @apply border-b border-line w-[calc(100%-32px)] mx-auto my-2;
  }
}

.autocomplete {
  @apply sm:text-sm md:text-base;
  // .autocomplete-inputContainer {
  // }
  .autocomplete-hiddenField {
    @apply input-default;
  }
  .autocomplete-field {
    @apply input-primary;
  }
  .autocomplete-fieldOpen {
    @apply ring-2 ring-primary-dark;
  }
  // .autocomplete-fieldClosed {
  // }
  .autocomplete-fieldIcon {
    @apply text-primary-dark/80;
  }
  // .autocomplete-fieldIconOpen {
  // }
  // .autocomplete-fieldIconClosed {
  // }
  // .autocomplete-option {
  // }
  .autocomplete-optionActive {
    @apply bg-primary-lightest text-neutral;
  }
  .autocomplete-optionDefault {
    @apply text-neutral;
  }
  .autocomplete-optionIcon {
    @apply text-primary;
  }
  // .autocomplete-optionIconActive {
  // }
  .autocomplete-optionIconDefault {
    @apply text-primary;
  }
  .autocomplete-errorContainer {
    @apply text-error text-sm block px-1 mt-1;
  }
  .autocomplete-errorInput {
    @apply border border-error;
  }
}

.checkbox {
  @apply flex items-center gap-x-2;
  .checkbox-label {
    @apply sm:text-sm md:text-base font-normal;
    .disabled-field & {
      @apply text-neutral-lightest;
    }
  }
  .checkbox-input {
    @apply accent-primary-dark disabled:accent-neutral-lightest;
  }
}

.checkbox:not([class*='checkbox-size-']) {
  .checkbox-input {
    @apply h-5 w-5;
  }
}

.checkbox-size-small {
  .checkbox-input {
    @apply h-4 w-4;
  }
}

.chips-primary {
  @apply bg-primary-lighter text-neutral-alpha flex items-center gap-1 px-1 text-sm rounded-md;
  .close-icon {
    @apply pr-1 cursor-pointer;
  }
}

.field-mono {
  .selector-buttonTextDefault {
    @apply font-mono;
  }
  .input-field,
  .selector-button,
  .selector-option,
  .autocomplete-option {
    @apply font-mono text-neutral-light;
  }
}
