.popper {
  transition: opacity 0.14s ease-in-out, visibility 0s 0.15s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &.popper-show {
    transition: opacity 0.07s ease-in-out, visibility 0s 0s ease-in-out;
    opacity: 1;
    visibility: visible;
  }

  &:not([class*='color-']),
  &.color-neutral {
    @apply bg-neutral text-white/90;
  }

  &.color-primary {
    @apply bg-primary-dark text-white;
  }

  &.color-primary-light {
    @apply bg-primary text-white;
  }

  &.color-primary-lighter {
    @apply bg-primary-light text-white;
  }

  &.color-success {
    @apply bg-success-light text-neutral-alpha;
  }

  &.color-danger {
    @apply bg-danger-dark text-white;
  }

  &.color-warning {
    @apply bg-warning-light text-neutral-alpha;
  }

  &:not([class*='size-']),
  &.size-sm {
    @apply rounded;
    .popper-content {
      @apply px-2 py-1 text-[13px];
    }
    .popper-arrow {
      font-size: 12px;
    }
  }

  &.size-md {
    @apply rounded-md;
    .popper-content {
      @apply px-3 py-1 text-[14px];
    }
    .popper-arrow {
      font-size: 14px;
    }
  }

  &.size-lg {
    @apply rounded-lg;
    .popper-content {
      @apply px-4 py-3 text-lg;
    }
    .popper-arrow {
      font-size: 16px;
    }
  }

  &.size-xl {
    @apply rounded-xl;
    .popper-content {
      @apply px-5 py-4 text-xl;
    }
    .popper-arrow {
      font-size: 18px;
    }
  }

  .popper-content {
    @apply bg-[inherit] rounded-[inherit];
    @apply font-bold block;
  }

  .popper-arrow {
    visibility: hidden;
    z-index: -1;

    width: calc(1em + 8px);
    height: calc(1em + 8px);

    &,
    &::before {
      background: inherit;
    }

    &::before {
      position: absolute;
      visibility: visible;
      content: '';
      width: 1em;
      height: 1em;
      top: 4px;
      left: 4px;
      transform: rotate(45deg);
    }
  }

  &[data-popper-placement^='top'] > .popper-arrow {
    bottom: -0.5em;
  }

  &[data-popper-placement^='bottom'] > .popper-arrow {
    top: -0.5em;
  }

  &[data-popper-placement^='left'] > .popper-arrow {
    right: -0.5em;
  }

  &[data-popper-placement^='right'] > .popper-arrow {
    left: -0.5em;
  }
}
