@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @import 'fields';
  @import 'btn';
  @import 'popup';
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
