@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @import 'fields';
  @import 'btn';
  @import 'popup';
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .grouped-first {
    &,
    & .selector-button,
    & .input-field {
      margin-right: -1px;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
  .grouped-middle {
    &,
    & .selector-button,
    & .input-field {
      border-radius: 0 !important;
    }
  }
  .grouped-last {
    &,
    & .selector-button,
    & .input-field {
      margin-left: -1px;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}
