.toast {
  --toast-text-color: theme('colors.white');
  --toast-color: theme('colors.neutral.DEFAULT');

  &.color-neutral {
    --toast-text-color: theme('colors.white');
    --toast-color: theme('colors.neutral.DEFAULT');
  }

  &.color-info {
    --toast-text-color: theme('colors.white');
    --toast-color: theme('colors.primary.dark');
  }

  &.color-success {
    --toast-text-color: theme('colors.neutral.alpha');
    --toast-color: theme('colors.success.light');
  }

  &.color-error {
    --toast-text-color: theme('colors.white');
    --toast-color: theme('colors.danger.dark');
  }

  &.color-warning {
    --toast-text-color: theme('colors.neutral.alpha');
    --toast-color: theme('colors.warning.light');
  }
}
