.toast {
  &:not([class*='toast-']),
  &.toast-primary {
    --toast-text-color: theme('colors.white');
    --toast-color: theme('colors.primary.dark');
  }

  &.toast-primary-light {
    --toast-text-color: theme('colors.white');
    --toast-color: theme('colors.primary.DEFAULT');
  }

  &.toast-primary-lighter {
    --toast-text-color: theme('colors.white');
    --toast-color: theme('colors.primary.light');
  }

  &.toast-neutral {
    --toast-text-color: theme('colors.white');
    --toast-color: theme('colors.neutral.DEFAULT');
  }

  &.toast-success {
    --toast-text-color: theme('colors.neutral.alpha');
    --toast-color: theme('colors.success.light');
  }

  &.toast-error {
    --toast-text-color: theme('colors.white');
    --toast-color: theme('colors.error.dark');
  }

  &.toast-warn {
    --toast-text-color: theme('colors.neutral.alpha');
    --toast-color: theme('colors.warn.light');
  }
}
