$data-teal: #4db6ac;
$data-green: #8eff6c;
$data-yellow: #eedc3e;
$data-orange: #ffb046;
$data-red: #e57373;
$data-pink: #dda2ff;
$data-indigo: #847aff;
$data-blue: #82bcfa;

$data-grey: #6c7680;
$data-highlight-grey: lighten($data-grey,50%);
$data-highlight: #edf6ff;

$primary-color: #1972d1;

$black-opacity: 0.91;

$text-color: #24292e;

$line-color-1: #f5f5f5;
$line-color-2: #e5e5e5;

$table-cell-height: 23px;

@font-face {
  font-family: 'Ubuntu Mono Table';
  src: url('/font/Ubuntu Mono Table.ttf');
}

$font-mono: "Ubuntu Mono", monospace !important;

$font-mono-table: "Ubuntu Mono Table", monospace !important;
