$data-green: #4db6ac;
$data-red: #e57373;
$data-blue: #82bcfa;
$data-grey: #6c7680;
$data-highlight: #edf6ff;

$primary-color: #1972d1;

$text-color: #24292e;

$line-color-1: #f5f5f5;
$line-color-2: #e5e5e5;

$table-cell-height: 23px;

$font-mono: "Ubuntu Mono", monospace !important;
