$data-primary: #309ee3;
$data-primary-darken: #288bc9;
$data-primary-darken-bar: #288bc9;
$data-teal: #00AE8D;
$data-green: #56A857;
$data-red: #F15555; // #F16E55;
$data-pink: #E66DA7;
$data-blue: lighten(#309ee3,10%);
$data-yellow: #f2f255;
$data-orange: mix($data-yellow, $data-red, 75%);

$data-grey: #6b7480;
$data-highlight-grey: lighten($data-grey,50%);
$data-highlight: #bde2fb;
$data-highlight-background: rgba($data-blue, 13%);

$data-preview: lighten($data-yellow, 25%);
$data-preview-background: rgba($data-yellow, 13%);


$data-join-left: $data-highlight;
$data-join-left-text: darken($data-blue, 15%);
$data-join-left-background: $data-highlight-background;

$data-join-right: lighten($data-orange, 30%);
$data-join-right-text: darken($data-orange, 15%);
$data-join-right-background: rgba($data-orange, 13%);

$data-join-center: mix($data-join-left, $data-join-right, 50%);
$data-join-center-background: darken(saturate(mix($data-join-left-background, $data-join-right-background, 50%), 20%), 15%);


// $data-preview: darken($data-blue, 25%);
// $data-preview-background: lighten($data-blue, 50%);
// $data-preview-background: lighten($data-blue, 50%);

$primary-color: #1888cc;

$black-opacity: 0.91;

$text-color: #24282e; // #242a2e;
$text-color-darken: rgba(0,1,1,0.91);

$line-color-1: #f5f5f5;
$line-color-2: #e5e5e5;
$line-color-3: rgba(0,0,0,0.38);

$icon-color: #5f6368;

$table-cell-height: 23px;

@font-face {
  font-family: 'Ubuntu Mono Table';
  src: url('/font/Ubuntu Mono Table.ttf');
}

$font-mono: "Ubuntu Mono", monospace !important;

$font-mono-table: "Ubuntu Mono Table", monospace !important;


// highlights //

$highlight-green: lighten(desaturate($data-teal,50%),45%);
$highlight-red: lighten($data-red,24%);
$highlight-blue: lighten($data-primary,36%);
$highlight-yellow: lighten($data-yellow, 8%);
